name: "Run Aries Mobile Test Harness"
description: "Run the Aries Mobile Test Harness test suite with the specified Wallet and Agents"
author: "sheldon.regular@gmail.com"
inputs:
  DEVICE_CLOUD:
    description: "Mobile Device Cloud Service"
    required: true
    default: "-d LambdaTest"
  DEVICE_CLOUD_USER:
    description: "Username for the Device Cloud Service"
    required: true
  DEVICE_CLOUD_KEY:
    description: "Access Key for the Device Cloud Service"
    required: true
  MOBILE_WALLET:
    description: "Wallet Under Test"
    required: true
    default: "-w bc_wallet"
  BUILD_NAME:
    description: "Build Name eg. -b QCWallet.ipa"
    required: false
    default: ""
  ISSUER_AGENT:
    description: "Issuer Agent Framework to build and run"
    required: true
    default: "-i acapy-main"
  VERIFIER_AGENT:
    description: "Verifier Agent Framework to build and run"
    required: true
    default: "-v acapy-main"
  REPORTING:
    description: "Use formal reporting engine"
    required: false
    default: "-r allure"
  MOBILE_PLATFORM:
    description: "Mobile Platform to Test Against. One of iOS or Andoid"
    required: false
    default: "-p Android"
  APP_FILE_NAME:
    description: "Wallet App File Name that is in your Device Cloud Service"
    required: false
    default: "-a AriesBifold-76.aab"
  REPORT_PROJECT:
    description: "Name of the project the Allure Service is using to store these results"
    required: false
    default: "android one device smoke"
  TEST_SCOPE:
    description: "Set of flags that defines the test scope"
    required: false
    default: "-t @bc_wallet -t ~@wip"
  OTHER_PARAMS:
    description: "Other parameters to pass to the test run."
    required: false
    default: ""
  RESULTS_LOCATION:
    description: "Location of the raw test results generated by Allure"
    required: true
    default: "allure-results"
runs:
  using: "composite"
  steps:
    - name: build-mobile-test-harness
      working-directory: aries-mobile-test-harness
      run: ./manage build ${{ inputs.MOBILE_WALLET }}
      shell: bash
    - name: run-mobile-test-harness
      working-directory: aries-mobile-test-harness
      run: PROJECT_ID=${{inputs.REPORT_PROJECT}} ./manage run ${{ inputs.DEVICE_CLOUD }} ${{ inputs.DEVICE_CLOUD_USER }} ${{ inputs.DEVICE_CLOUD_KEY }} ${{ inputs.REPORTING }} ${{ inputs.MOBILE_PLATFORM }} ${{ inputs.APP_FILE_NAME }} ${{ inputs.BUILD_NAME }} ${{ inputs.ISSUER_AGENT }} ${{ inputs.VERIFIER_AGENT }} ${{ inputs.OTHER_PARAMS }} ${{ inputs.TEST_SCOPE }}
      shell: bash
      env:
        NO_TTY: "1"
branding:
  icon: "mic"
  color: "purple"
