# OSX
#
.DS_Store

# Merge artifacts
*.orig
build/

# Secrets
*.mobileprovision
*.p12
*.p8
pc-api*.json
api*.json
*secret*
*secrets*
.env

# Other
node_modules
.gradle
lib
yarn.lock

# aries-bifold should be cloned separately
packages/aries-bifold
