name: Check for early exit
description: |
  This action checks for changes in specific directories and
  exits early if there are none

runs:
  using: composite
  steps:
    - name: Check location of changed files
      shell: bash
      run: |
        # On main branch, compare with the previous
        # commit otherwise (for PRs) compare with the
        # current commit.
        if [ "${GITHUB_REF_NAME}" = "main" ]; then
          end_ref="HEAD^"
        else
          end_ref="HEAD"
        fi

        echo "Comparing origin/${GITHUB_BASE_REF:-HEAD} with ${end_ref}"

        change_count=$(
          git diff --name-only origin/${GITHUB_BASE_REF:-HEAD}..${end_ref} | \
          grep -E '^(app/.*)|(.yarn/.*)|(.github/workflows/.*)' | \
          wc -l | \ 
          awk '{$1=$1};1'
        )
        echo "$change_count files changed in app, .yarn, or .github/workflows"
        if [ $change_count -gt 0 ]; then
          # A result greater than 0 means there are changes
          # in the specified directories.
          echo "result=false" >> $GITHUB_OUTPUT
        else
          echo "result=true" >> $GITHUB_OUTPUT
        fi
