<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>493003137594-0cimp1ta4jlq83j63chv1gvi0vgk8sm6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.493003137594-0cimp1ta4jlq83j63chv1gvi0vgk8sm6</string>
	<key>API_KEY</key>
	<string>AIzaSyByvJDrhcSJTy27Qqu9_1SPlt_u7r1bi6o</string>
	<key>GCM_SENDER_ID</key>
	<string>493003137594</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ca.bc.gov.BCWallet</string>
	<key>PROJECT_ID</key>
	<string>ca-bc-gov-bcwallet-2d4df</string>
	<key>STORAGE_BUCKET</key>
	<string>ca-bc-gov-bcwallet-2d4df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:493003137594:ios:3ea44407af9632cd890b03</string>
</dict>
</plist>