MEDIATOR_URL=https:/$()/aries-mediator-port-e.apps.exp.openshift.cqen.ca?c_i=eyJAdHlwZSI6ICJkaWQ6c292OkJ6Q2JzTlloTXJqSGlxWkRUVUFTSGc7c3BlYy9jb25uZWN0aW9ucy8xLjAvaW52aXRhdGlvbiIsICJAaWQiOiAiNzQ1MmRjYTItMDJiYi00NDRkLWI2ZDEtOWRlMTUxNzJjOGJlIiwgInNlcnZpY2VFbmRwb2ludCI6ICJodHRwczovL2FyaWVzLW1lZGlhdG9yLXBvcnQtZS5hcHBzLmV4cC5vcGVuc2hpZnQuY3Flbi5jYSIsICJsYWJlbCI6ICJHZW5lcmljIEFyaWVzIE1lZGlhdG9yIiwgInJlY2lwaWVudEtleXMiOiBbIjY1OUtVS3B4azVHOWh5dktWQ1k4TVhOODVONmRDRXFSbTdXakRtTVExaGlSIl19
BUGSNAG_API_KEY=45d47f8c332138ec3f17151020797dea
