---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "logstack.fullname" . }}-loki-config
  labels: {{- include "logstack.labels" . | nindent 4 }}
  annotations: {{- toYaml .Values.route.annotations | nindent 4 }}
data:
  config.yaml: |-
    auth_enabled: false

    server:
      {{- range $name, $port := .Values.services.loki }}
      {{- if eq .name "http" }}
      http_listen_port: {{ .port }}
      {{- end }}
      {{- if eq .name "grpc" }}
      grpc_listen_port: {{ .port }}
      {{- end }}
      {{- end }}

    common:
      instance_addr: 127.0.0.1
      path_prefix: {{ .Values.persistentVolumeClaim.mountPath }}/loki
      storage:
        filesystem:
          chunks_directory: {{ .Values.persistentVolumeClaim.mountPath }}/loki/chunks
          rules_directory: {{ .Values.persistentVolumeClaim.mountPath }}/loki/rules
      replication_factor: 1
      ring:
        kvstore:
          store: inmemory

    storage_config:
      aws:
        s3: s3://{{ .Values.minio_access_key }}:{{ .Values.minio_secret_key }}@{{ include "logstack.fullname" $ }}-minio.{{ $.Values.namespace }}.svc.cluster.local/loki-data
        s3forcepathstyle: true
      index_queries_cache_config:
        memcached:
          batch_size: 100
          parallelism: 100
        memcached_client:
          consistent_hash: true
          {{- range $name := .Values.services.memcached }}
          {{- if eq .name "client" }}
          host: {{ include "logstack.fullname" $ }}-memcached.{{ $.Values.namespace }}.svc.cluster.local
          service: {{ .name }} 
          {{- end }}
          {{- end }}

    query_range:
      cache_results: true
      results_cache:
        cache:
          memcached_client:
            consistent_hash: true
            max_idle_conns: 8
            timeout: 500ms
            update_interval: 1m
            {{- range $name := .Values.services.memcached }}
            {{- if eq .name "client" }}
            host: {{ include "logstack.fullname" $ }}-memcached.{{ $.Values.namespace }}.svc.cluster.local
            service: {{ .name }} 
            {{- end }}
            {{- end }}

    schema_config:
      configs:
        - from: 2020-10-24
          store: aws
          object_store: s3
          schema: v11
          index:
            prefix: index_
            period: 24h

    ruler:
      alertmanager_url: http://localhost:9093

    limits_config:
      reject_old_samples: true
      reject_old_samples_max_age: 24h
      {{- toYaml .Values.loki.retention | nindent 6 }}

    chunk_store_config:
      max_look_back_period: 0s
      chunk_cache_config:
        memcached:
          batch_size: 256
          parallelism: 10
        memcached_client:
          {{- range $name := .Values.services.memcached }}
          {{- if eq .name "client" }}
          host: {{ include "logstack.fullname" $ }}-memcached.{{ $.Values.namespace }}.svc.cluster.local
          service: {{ .name }} 
          {{- end }}
          {{- end }}

    compactor:
      retention_enabled: true
      compaction_interval: 10m
      retention_delete_delay: 2h
      retention_delete_worker_count: 33

    # By default, Loki will send anonymous, but uniquely-identifiable usage and configuration
    # analytics to Grafana Labs. These statistics are sent to https://stats.grafana.org/
    #
    # Statistics help us better understand how Loki is used, and they show us performance
    # levels for most users. This helps us prioritize features and documentation.
    # For more information on what's sent, look at
    # https://github.com/grafana/loki/blob/main/pkg/usagestats/stats.go
    # Refer to the buildReport method to see what goes into a report.
    #
    # If you would like to disable reporting, uncomment the following lines:
    #analytics:
    #  reporting_enabled: false
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "logstack.fullname" . }}-proxy-config
  labels: {{- include "logstack.labels" . | nindent 4 }}
  annotations: {{- toYaml .Values.route.annotations | nindent 4 }}
data:
  Caddyfile: |-
    (revpx) { 
      {{- range $name, $port := .Values.services.loki }}
      {{- if eq .name "http" }}
      reverse_proxy /loki/api/v1/push http://{{ include "logstack.fullname" $ }}-loki.{{ $.Values.namespace }}.svc.cluster.local:{{ .port }} {
      {{- end }}
      {{- end }}
        header_up Host {http.reverse_proxy.upstream.hostport}
        header_up X-Forwarded-Port {server_port}
        header_up X-Real-IP {remote_host}
        header_up X-Forwarded-For {remote_host}
        header_up X-Forwarded-Proto {scheme}
      }
    }

    (logging) {
      log {
        level {{ .Values.caddy.logLevel }}
        output stdout
      }
    }

    {{- range $name, $port := .Values.services.proxy }}
    {{- if eq .name "http" }}
    :{{ .port }} {
    {{- end }}
    {{- end }}
      respond /ehlo 202

      basicauth /loki/* {
        {{ .Values.proxyUserName }} {{ .Values.proxyPassword }}
      }

      import revpx
      import logging
    }
