SAUCE_USERNAME='your-username'
SAUCE_ACCESS_KEY='xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx'
SAUCE_REGION='us'
APP_FILENAME='BCSC-Dev-latest.aab'
VARIANT='bcsc-dev'
BUILD_NAME='local-manual'
TEST_NAME='E2E Tests (local)'
