name: Code Quality

on:
  push:
    branches: [main] # needed so codecov gets BASE coverage for comparison
  pull_request:
    branches: [main]
    types: [opened, synchronize, reopened, labeled]

jobs:
  quality:
    runs-on: macos-14
    name: Lint, Format, Typecheck, Test, and Coverage
    steps:
      - name: Checkout bc-wallet-mobile
        uses: actions/checkout@v4

      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Setup NodeJS
        uses: ./.github/workflows/actions/setup-node

      - name: Install formatting and linting tools
        run: |
          brew install swiftformat clang-format ktlint

      - name: Cache node_modules
        uses: actions/cache@v3
        with:
          path: .yarn/cache
          key: ${{ runner.os }}-yarn-${{ hashFiles('yarn.lock') }}
          restore-keys: ${{ runner.os }}-yarn-

      - name: Install dependencies
        run: yarn install --immutable

      - name: Detect lockfile drift
        working-directory: app
        run: |
          set -e

          echo "Checking Ruby gems lockfile (Gemfile.lock)..."
          gem install bundler -v 2.1.4
          bundle config set deployment true
          bundle install

          echo "Checking iOS pods lockfile (Podfile.lock)..."
          cd ios
          pod install --deployment
          cd ..

          echo "Checking Android gradle lockfile (gradle.lockfile)..."
          cd android
          ./gradlew app:dependencies --write-locks=false

      - name: Cache bcsc-core build output
        uses: actions/cache@v3
        with:
          path: packages/bcsc-core/lib
          key: ${{ runner.os }}-bcsc-core-build-${{ hashFiles('packages/bcsc-core/src/**') }}
          restore-keys: |
            ${{ runner.os }}-bcsc-core-build-

      - name: Build packages
        run: yarn build

      - name: Run all checks
        run: yarn check

      - name: Generate coverage report
        run: yarn coverage

      - uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 #V5 (v5.5.1) pinning for SonarQube
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
        if: always()
